<div class="leftSideBar">
  <ul class="py-2 list-unstyled">
    <li class="flex align-items-center">
      <img src="/img/barbell.png" width="30" alt="">
      <a href="/admin/ptList">Pt List</a>
    </li>
    <li class="flex align-items-center">
      <img src="/img/barbell.png" width="30" alt="">
      <a href="/admin/hareket">Hareket List</a>
    </li>
    <li class="flex align-items-center">
      <img src="/img/nutrition-plan.png" width="30" alt="">
      <a href="/admin/userList">User List</a>
    </li>
    <li class="flex align-items-center">
      <img src="/img/nutrition-plan.png" width="30" alt="">
      <a href="/admin/mealList">Meal List</a>
    </li>
    <li class="flex align-items-center">
      <img src="/img/nutrition-plan.png" width="30" alt="">
      <a href="/admin/atama">Pt Atama</a>
    </li>
  </ul>
</div>