<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #FF7D56;">
    <div class="container-fluid navContainer">
        <a class="navbar-brand" href="/">Fit Lab.</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">

                <li class="nav-item">
                    <a class="nav-link" href="/pt/profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pt/logout">Log out</a>
                </li>

            </ul>
        </div>
    </div>
</nav>