<div class="leftSideBar">
    <ul class="py-2 list-unstyled">
        <li class="flex align-items-center">
            <img src="/img/barbell.png" width="30" alt="">
            <a href="/pt/antrenmanEkle">Antrenman Programı Ekle</a>
        </li>
        <li class="flex align-items-center">
            <img src="/img/nutrition-plan.png" width="30" alt="">
            <a href="/pt/beslenmeEkle">Beslenme Programı Ekle</a>
        </li>
        <li class="flex align-items-center">
            <img src="/img/nutrition-plan.png" width="30" alt="">
            <a href="/pt/danisanlarim">Danışmanlarım</a>
        </li>
    </ul>
</div>