<div class="leftSideBar">
    <ul class="py-2 list-unstyled">
        <li class="flex align-items-center">
            <img src="/img/barbell.png" width="30" alt="">
            <a href="/user/antrenman">Antrenman Programı</a>
        </li>
        <li class="flex align-items-center">
            <img src="/img/nutrition-plan.png" width="30" alt="">
            <a href="/user/beslenme">Beslenme Programı</a>
        </li>
    </ul>
</div>