<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        .left {
            width: 50%;
            height: 100vh;
            background-color: #4724B2;
        }

        .right {
            width: 50%;
            height: 100vh;
        }

        form input[type="email"],
        form input[type="password"],
        form input[type="text"] {
            width: 100%;
            margin-top: 1rem;
            height: 2.3rem;
        }

        .registerBtnColor {
            background-color: #4724B2;
        }

        .blackColor {
            color: #313131;
        }
    </style>
</head>

<body>

    <div class="loginRegisterParent d-flex">
        <div class="left d-flex align-items-center justify-content-center">
            <div class="leftParent w-50 text-white">
                <h2 class="fs-1 text-center">Giriş Yap</h2>
                <div class="text-center mt-3">
                    <a href="/user/login"
                        class="d-block bg-white rounded-2 text-decoration-none py-2  w-100 blackColor registerBtn">
                        Giriş Yap
                    </a>
                </div>
            </div>
        </div>
        <div class="right d-flex align-items-center justify-content-center">
            <div class="rightParent w-50">
                <h2 class="fs-1 text-center blackColor">Kayıt Ol</h2>
                <form action="/user/register" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="text" class="form-control" id="name" name="name" placeholder="Adınız" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="surname" name="surname" placeholder="Soyadınız" required>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="password" name="password" placeholder="Şifreniz"
                            required>
                    </div>
                    <div class="form-group mt-3">
                        <input type="tel" class="form-control" id="gsm" name="gsm" placeholder="Telefon Numarası" required>
                    </div>
                    <div class="form-group mt-3">
                        <select class="form-control" id="gender" name="gender" required>
                          <option value="">Cinsiyetiniz</option>
                          <option value="Erkek">Erkek</option>
                          <option value="Kadın">Kadın</option>
                        </select>
                    </div>
                    <div class="form-group mt-3">
                        <input type="date" class="form-control" id="birthday" name="birthday" required>
                    </div>
                    <div class="form-group mt-3">
                        <input class="form-control" type="file" id="picture" name="picture" accept="image/*">
                    </div>
                    
                    <div class="form-group mt-3">
                        <select class="form-control" id="goal" name="goal" required>
                            <option value="">Hedef Seç</option>
                            <option value="Kas Kazanmak">Kas Kazanmak</option>
                            <option value="Kilo Vermek">Kilo Vermek</option>
                            <option value="Sabit Kiloda Kalmak">Sabit Kiloda Kalmak</option>
                        </select>
                    </div>
                    <div class="form-group mt-3">
                        <button type="submit" class="btn btn-success float-right">Kayıt Ol</button>
                    </div>
            </form>
                <div class="text-center mt-2">

                </div>
            </div>
        </div>
    </div>

</body>

</html>